p#intro {
	background:					#FFFADB;
	display:					block;
	border-radius:				4px;
	-moz-border-radius:			4px;
	-webkit-border-radius:		4px;
	box-shadow:					0 0 4px #aaa;
	-moz-box-shadow:			0 0 4px #aaa;
	-webkit-box-shadow:			0 0 4px #aaa;
	padding:					9px 10px;
	text-align:					center;
	font-size:					14px;
	margin:						20px 20px 30px;
}

#result_container {
	margin: 20px 0;
}

#result_container #result_message {
	text-align: center;
}

html body div#result_container p#result_message span#the_rate {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	background: #FAFBB5;
	padding: 2px 8px;
}

.field_container {
	margin-bottom: 12px;
}

label {
	display: block;
	text-align: right;
}

input.field {
	font-family: monospace;
	font-size: 12px; 
}

input#field_ratecode {
	width: 120px;
}

input#field_hotel {
	width: 360px;
}

input#field_date {
	width: 74px;
	text-align: center;
}

input.submit {
	margin: 0 0 0 0;
	display: inline-block;
	width: 100px;
}

ul.ui-autocomplete {
	width: 100px;
}

ul.ui-autocomplete li:hover {
	cursor: pointer;
}

p#intro {
	margin: 8px 0 16px;
	padding: 4px;
	background: #fbf6d7;
	text-align: center;
	font-weight: bold;
}

p.example {
	font-size: 9px;
	color: #666;
}

p#ratecode_examples span.ratecode_example:hover {
	cursor: pointer;
	text-decoration: underline;
}