#search_results_container {
	margin:						10px 0 0 0;
}

#hotels_map {
	height:						340px;
	width:						100%;
}

#search_form_container form#search_form {
	background:					#FFFADB;
	display:					block;
	border-radius:				4px;
	-moz-border-radius:			4px;
	-webkit-border-radius:		4px;
	box-shadow:					0 0 4px #aaa;
	-moz-box-shadow:			0 0 4px #aaa;
	-webkit-box-shadow:			0 0 4px #aaa;
	padding:					9px 10px;
	text-align:					center;
	font-size:					16px;
	margin:						18px 0;
}

#search_form_container form#search_form .field,
#search_form_container form#search_form select {
	font-size:					16px;
	display:					inline-block;
	margin:						0 2px;
}

#search_form_container form#search_form input#field_where {
	width:						220px;
	padding:					2px 4px;
}

#search_form_container form#search_form #nights_text {
	display:					inline-block;
	width:						68px;
	text-align:					left;
}

form#search_form input.fancybutton {
	padding:					4px 18px;
}



#nearest_hotels_container h2 {
	font-size:					14px;
	margin:						0;
	padding:					10px 0 0 0;
}

#nearest_hotels_container h2#unavailable_hotels_header {
	margin-top:					12px;
	border-top:					1px solid #888;
}


#nearest_hotels_container ol.hotels_list {
	margin:						0 0 0 20px;
	list-style-type:			decimal;
	list-style-position:		outside;
}

#nearest_hotels_container ol#unavailable_hotels_list {
	color:						#444;
}

#nearest_hotels_container ol.hotels_list li.hotel {
	margin:						0 4px 0 4px;
	padding:					8px 8px 10px;
	clear:						both;
	border-top:					1px dotted #ccc;
	font-size:					12px;
}

#nearest_hotels_container ol.hotels_list li.hotel.first {
	border-top:					0;
}

p#no_hotels_found {
	margin-left:				32px;
}

/*
#nearest_hotels_container ol.hotels_list li.odd {
	background:					#FFFADB;
}

#nearest_hotels_container ol.hotels_list li.even {
	background:					#EFEACB;
}
*/

#nearest_hotels_container ol.hotels_list li .hotel_sidebar {
	float:						right;
	display:					block;
	width:						85px;
}

#nearest_hotels_container ol.hotels_list li img.hotel_image {
	width:						85px;
	height:						57px;
	border-radius:				6px;
	-moz-border-radius:			6px;
	-webkit-border-radius:		6px;
}

#nearest_hotels_container ol.hotels_list li .hotel_info {
	margin-right:				120px;
	font-size:					11px;
}

#nearest_hotels_container ol.hotels_list li .hotel_name {
	display:					block;
	font-size:					12px;
	font-weight:				bold;
	margin:						0;
	padding:					0;
}

ol.hotels_list address {
	display:					inline-block;
}

ol.hotels_list address .address_part {
	display:					block;
}



h4.ratetype {
	font-size:					12px;
}

p.bookit {
	background:					#F8FFEF;
	text-align:					center;
	padding:					6px 8px;
	width:						210px;
	margin:						6px 10px 0;
}

p.bookit a {
	font-weight:				bold;
	color:						#3F3A16;
}

ol.availability_info {
	clear:						both;
	overflow:					auto;
	width:						100%
}

ol.availability_info li {
	float:						left;
	margin:						0 4px 0 0;
	background:					#F8FFEF;
	font-size:					9px;
	padding:					4px;
	width:						70px;
	border-radius:				4px;
	-moz-border-radius:			4px;
	-webkit-border-radius:		4px;
}

ol.availability_info li span {
	display:					block;
	text-align:					center;
}

ol.availability_info li .date {
	font-weight:				bold;
}