{% extends "base.html" %}

{% block head_title %}awardpad - Starwood rate lookup tool{% endblock %}

{% block css_extended %}
		<link rel="stylesheet" type="text/css" href="/static2/css/browse_countries.css" />
{% endblock %}

{% block body_content %}
			<div class="grid_8">
				<h2>Browse hotels</h2>
				<p>
					sort by:
					<a href="?sort=name">name</a> or
					<a href="?sort=count">hotel count</a>
				</p>
			</div>
			<div class="grid_8">
			
			</div>
			<div class="clear"></div>
					
			<div class="grid_16">
				<ul id="countries">
				{% for country in countries %}
					<li>
						<a href="/browse/countries/{{ country.slug }}">
							{{ country.name }} ({{ country.count }})</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
{% endblock %}