{% extends "base.html" %}

{% block css_extended %}
		<link rel="stylesheet" type="text/css" href="/static2/css/landing.css" />
{% endblock %}

{% block js_extended %}
		<script src="/static2/js/landing.js"></script>
{% endblock %}

{% block body_content %}
			<div class="prefix_1 grid_14 suffix_1">
				<p id="intro">
					Find Starwood award availability anywhere in the world in seconds.
				</p>
			</div>
			<div class="clear"></div>
			
			<form action="/search" method="get" id="landing_form">
				<div class="field_container">
					<div class="prefix_2 grid_5">
						<label for="field_where">Where?</label>
					</div>
					<div class="grid_6 suffix_3">
						<input type="text" name="where" id="field_where"
						 	class="field" />
						<p class="example" id="example_locations">
							(e.g. <span class="example_location">Tokyo</span>,
							<span class="example_location">10001</span>,
							<span class="example_location">Los Angeles, CA</span>,
							<span class="example_location">DXB</span>)
						</p>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="field_container">
					<div class="prefix_2 grid_5">
						<label for="field_month">When?</label>
					</div>
					<div class="grid_6 suffix_3">						
						<select name="month" id="field_month" class="field">
							{% for month in months %}
							<option value="{{ forloop.counter }}"
								{% ifequal forloop.counter start_day.month %}
								selected="selected"
								{% endifequal %}
							>{{ month }}</option>
							{% endfor %}
						</select>
						
						<select name="day" id="field_day" class="field">
							{% for day in days %}
							<option value="{{ day }}"
								{% ifequal forloop.counter start_day.day %}
								selected="selected"
								{% endifequal %}
							>{{ day }}</option>
							{% endfor %}
						</select>
						
						<select name="year" id="field_year" class="field">
							{% for year in years %}
							<option value="{{ year }}"
								{% ifequal forloop.counter start_day.year %}
								selected="selected"
								{% endifequal %}
							>{{ year }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="field_container">
					<div class="prefix_2 grid_5">
						<label for="field_nights">How many nights?</label>
					</div>
					<div class="grid_6 suffix_3">
						<select name="nights" id="field_nights" class="field">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="field_container">
					<div class="prefix_7 grid_6 suffix_3">
						<input type="submit" value="Search" id="landing_form_submit"
						 		 class="fancybutton" />
					</div>
				</div>
				<div class="clear"></div>
			</form>
			
			
			<div class="prefix_1 grid_14 suffix_1">
				<p id="more_intro">
					Check out the <a href="/rate-lookup">Starwood rate lookup tool</a>.
				</p>
			</div>
			<div class="clear"></div>
{% endblock %}