{% extends "base.html" %}

{% block head_extended %}
		<link rel="stylesheet" type="text/css" href="/static2/css/search.css" />

		<script>
			{% if geo_loc %}
			var user_coord = {'lat': {{ loc.lat }}, 'lng': {{ loc.lon }}};
			{% else %}
			var user_coord = null;
			{% endif %}
			
			{% if nearest_hotels_json %}
			var nearest_hotels = {{ nearest_hotels_json }};
			{% else %}
			var nearest_hotels = [];
			{% endif %}
		</script>
		<script src="http://www.google.com/jsapi?key=ABQIAAAAbS93tJ_uidHDZWvF7euCFBRZY0UO5Ce9jhJtaWkDUN0I_qaxZRSYddpKWN0rTK8azJFokggtQdZ7FQ"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="/static2/js/search.js"></script>
{% endblock %}

{% block body_content %}
			<div id="search_results_container">
				<div class="grid_8">
					<div id="nearest_hotels_container">
					{% if nearest_hotels %}
						<ol id="nearest_hotels">
						{% for hotel in nearest_hotels %}
							<li class="{% cycle odd,even %}">
								<img src="{{ hotel.image_url }}" class="hotel_image tiny"
								 	alt="{{ hotel.name }}" />
								
								<div class="hotel_info">
									<span class="hotel_name">{{ hotel.name }}</span>

									{{ hotel.html_address }}
								</div>
								
								<div class="clear"></div>
							</li>
						{% endfor %}
						</ol>
					{% else %}
						<p>No hotels found.</p>
					{% endif %}
					</div>
				</div>
				<div class="grid_8">
					<div id="hotels_map"></div>
				</div>
				<div class="clear"></div>
			</div>
{% endblock %}