{% extends "base.html" %}

{% block head_extended %}
		<link rel="stylesheet" type="text/css" href="/static2/css/search.css" />

		<script>
			{% if user_location %}
			var user_coord = {'lat': {{ user_location.lat }}, 'lng': {{ user_location.lon }}};
			{% else %}
			var user_coord = null;
			{% endif %}
			
			{% if nearest_hotels_json %}
			var nearest_hotels = {{ nearest_hotels_json }};
			{% else %}
			var nearest_hotels = [];
			{% endif %}
		</script>
		<script src="http://www.google.com/jsapi?key=ABQIAAAAbS93tJ_uidHDZWvF7euCFBRZY0UO5Ce9jhJtaWkDUN0I_qaxZRSYddpKWN0rTK8azJFokggtQdZ7FQ"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="/static2/js/search.js"></script>
{% endblock %}

{% block body_content %}
			<div id="search_form_container">
				<div class="grid_16">
					<form id="search_form" action="/search" method="get">
						Hotels
						
						<label for="field_where">
							near
							<input type="text" name="where" id="field_where"
						 		value="{{ where|escape }}" /></label>,
						
						<label for="field_month">
							arriving
							<select type="select" name="month" id="field_month" class="field">
								{% for month in months %}
								<option value="{{ forloop.counter }}"
									{% ifequal forloop.counter start_date.month %}selected="selected"{% endifequal %}
								>{{ month }}</option>
								{% endfor %}
							</select>
						</label>
						
						<select type="select" name="day" id="field_day" class="field">
							{% for day in days %}
							<option value="{{ day }}"
								{% ifequal day start_date.day %}selected="selected"{% endifequal %}
							>{{ day }}</option>
							{% endfor %}
						</select>
						
						<select type="select" name="year" id="field_year" class="field">
							{% for year in years %}
							<option value="{{ year }}"
								{% ifequal forloop.counter start_date.year %}
								selected="selected"
								{% endifequal %}
							>{{ year }}</option>
							{% endfor %}
						</select>
						
						<label for="field_nights">for
						<select name="nights" id="field_nights" class="field">
						{% for night in nights_range %}
							<option value="{{ night }}"
								{% ifequal night user_nights %}selected="selected"{% endifequal %}
							>{{ night }}</option>
						{% endfor %}
						</select>
						<span id="nights_text">
							{% ifequal user_nights 1 %}night{% else %}nights{% endifequal %}.
						</span></label>
						
						<input type="submit" value="Search" id="field_submit" class="fancybutton" />
					</form>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="search_results_container">
				<div class="grid_8">
					<div id="nearest_hotels_container">
					
						<h2>Hotels with award availability</h2>
						{% if hotels_tuple.0 %}
							<ol class="hotels_list" id="available_hotels_list">
							{% for hotel_data in hotels_tuple.0 %}
								<li class="hotel {% cycle odd,even %} {% if forloop.first %}first{%endif%}">
									<div class="hotel_sidebar">
										<img src="{{ hotel_data.0.image_url }}"
											class="hotel_image tiny"
										 	alt="{{ hotel_data.0.name }}" />
									</div>
								
									<div class="hotel_info">
										<h3 class="hotel_name">{{ hotel_data.0.name }}</h3>
										
										{{ hotel_data.0.html_short_address }} -
										<span class="category">Category {{ hotel_data.0.category }}</span>
									</div>
									
									<p class="bookit">
										Book with 
										{% if hotel_data.1.SPG and not hotel_data.1.SPGCP %}
										<a href="https://www.starwoodhotels.com/preferredguest/booking/points/rates.html?arrivalDate={{ hotel_data.1.SPG.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPG.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPG{{ hotel_data.0.category }}&amp;numberOfAdults=2&amp;numberOfRooms=1">
											{{ hotel_data.1.SPG.totals.points }} points</a>
										{% endif %}
										
										{% if not hotel_data.1.SPG and hotel_data.1.SPGCP %}
										<a href="https://www.starwoodhotels.com/preferredguest/booking/cash_points/rates.html?arrivalDate={{ hotel_data.1.SPGCP.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPGCP.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPGCP&amp;numberOfAdults=2&amp;numberOfRooms=1">
											{{ hotel_data.1.SPGCP.totals.points }} points and
											${{ hotel_data.1.SPGCP.totals.cash }}</a>
										{% endif %}
										
										{% if hotel_data.1.SPG and hotel_data.1.SPGCP %}
										<a href="https://www.starwoodhotels.com/preferredguest/booking/points/rates.html?arrivalDate={{ hotel_data.1.SPG.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPG.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPG{{ hotel_data.0.category }}&amp;numberOfAdults=2&amp;numberOfRooms=1">
											{{ hotel_data.1.SPG.totals.points }} points</a>
										<br />or
										<a href="https://www.starwoodhotels.com/preferredguest/booking/cash_points/rates.html?arrivalDate={{ hotel_data.1.SPGCP.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPGCP.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPGCP&amp;numberOfAdults=2&amp;numberOfRooms=1">
											{{ hotel_data.1.SPGCP.totals.points }} points and
											${{ hotel_data.1.SPGCP.totals.cash }}</a>
										{% endif %}
									</p>
									
									{% comment %}
									{% if hotel_data.1.SPGCP %}
									<h4 class="ratetype">Cash and Points</h4>
									<p>points: {{ hotel_data.1.SPGCP.totals.points }}</p>
									<p>cash: {{ hotel_data.1.SPGCP.totals.cash }}</p>
									<ol class="availability_info">
									{% for rate_data in hotel_data.1.SPGCP.rates %}
										<li>
											<span class="date">
												{{ rate_data.date|date:"M j (D)" }}</span>
											<span class="points">
												{{ rate_data.rate.points }} points</span>
											<span class="cash">
												{{ rate_data.rate.cash }} USD</span>
										</li>
									{% endfor %}
									</ol>
									<p>
										<a href="https://www.starwoodhotels.com/preferredguest/booking/cash_points/rates.html?arrivalDate={{ hotel_data.1.SPGCP.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPGCP.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPGCP&amp;numberOfAdults=2&amp;numberOfRooms=1">book it</a> *
									</p>
									{% endif %}
									{% endcomment %}
									
									{% comment %}
									{% if hotel_data.1.SPG %}
									<h4 class="ratetype">Points</h4>
									<p class="booking">
										Points: {{ hotel_data.1.SPG.totals.points }}</p>
									
									
									<ol class="availability_info">
									{% for rate_data in hotel_data.1.SPG.rates %}
										<li>
											<span class="date">
												{{ rate_data.date|date:"M j (D)" }}</span>
											<span class="points">
												{{ rate_data.rate.points }} points</span>
										</li>
									{% endfor %}
									</ol>
									
									<p>
										<a href="https://www.starwoodhotels.com/preferredguest/booking/points/rates.html?arrivalDate={{ hotel_data.1.SPG.check_in|date:"Y-m-d" }}&amp;departureDate={{ hotel_data.1.SPG.check_out|date:"Y-m-d" }}&amp;propertyID={{ hotel_data.0.id }}&amp;rateCategory=SPG{{ hotel_data.0.category }}&amp;numberOfAdults=2&amp;numberOfRooms=1">book it</a> *
									</p>
									{% endif %}
									{% endcomment %}
								
									<div class="clear"></div>
								</li>
							{% endfor %}
							</ol>
						{% else %}
							<p id="no_hotels_found">No hotels found.</p>
						{% endif %}
						
						
						{% if hotels_tuple.1 %}
							<h2 id="unavailable_hotels_header">
								Other hotels in the area</h2>
							
							<ol class="hotels_list" id="unavailable_hotels_list">
							{% for hotel in hotels_tuple.1 %}
								<li class="hotel {% cycle odd,even %} {% if forloop.first %}first{%endif%}">
									<div class="hotel_sidebar">
										<img src="{{ hotel.image_url }}"
											class="hotel_image tiny"
									 		alt="{{ hotel.name }}" />
									</div>
								
									<div class="hotel_info">
										<h3 class="hotel_name">{{ hotel.name }}</h3>
										
										{{ hotel.html_short_address }}
									</div>
								
									<div class="clear"></div>
								</li>
							{% endfor %}
							</ol>
						{% endif %}
					</div>
				</div>
				<div class="prefix_1 grid_7">
					<div id="hotels_map"></div>
				</div>
				<div class="clear"></div>
			</div>
{% endblock %}